In [3]:
import pandas as pd
import numpy as np

a = pd.Series([1, 0.3, np.nan])
b = pd.Series([np.array([1, 2, 3])])
# print("a\n", a)
# print("b\n", b)
print("a[0]\n", a[0])
print("a[a>0.5]\n", a[a>0.5])
print("a[a>0.5]\n", a[[2,1]])
print("a.sum()\n", a.sum())

a[0]
 1.0
a[a>0.5]
 0    1.0
dtype: float64
a[a>0.5]
 2    NaN
1    0.3
dtype: float64
a.sum()
 1.3

In [6]:
import pandas as pd
import numpy as np

date = pd.date_range('20160101', periods=5)
print(date)

df = pd.DataFrame(np.random.randn(5,4), index=date, columns=list("ABCD"))
print(df)

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05'],
              dtype='datetime64[ns]', freq='D')
                   A         B         C         D
2016-01-01  1.987997  0.552629 -0.346439 -0.534007
2016-01-02  0.140213 -0.437696  0.395388  0.494892
2016-01-03 -1.430181  1.497004  1.187678  2.661296
2016-01-04  1.430550 -0.343239 -0.625358  1.312496
2016-01-05  1.867666 -0.079281  0.049146 -0.352142

In [10]:
df2 = pd.DataFrame({"A": 2.,
                   "B": pd.Timestamp('20160101'),
                   "C": pd.Series(3, index=list(range(4)), dtype="float64"),
                   "D":np.array([3]*4, dtype="int64"),
                   "E":pd.Categorical(["t1", "t2", "t3", "t4"]),
                   "F":'abc'})
print(df2)
print(df2.dtypes)
print(df2.C)

     A          B    C  D   E    F
0  2.0 2016-01-01  3.0  3  t1  abc
1  2.0 2016-01-01  3.0  3  t2  abc
2  2.0 2016-01-01  3.0  3  t3  abc
3  2.0 2016-01-01  3.0  3  t4  abc
A           float64
B    datetime64[ns]
C           float64
D             int64
E          category
F            object
dtype: object
0    3.0
1    3.0
2    3.0
3    3.0
Name: C, dtype: float64

In [12]:
df = pd.DataFrame(np.random.randn(5,4), index=date, columns=list("ABCD"))
print(df)

s1 = pd.Series([1, 2, 3, 4], index=pd.date_range("20160102", periods=4))
print("s1\n", s1)
df["F"] = s1
print("df\n", df)
df.at[date[0], "A"] = 0
print("df\n", df)
df.loc[:, "D"] = np.array
print("df\n", df)

                   A         B         C         D
2016-01-01  0.792579  2.218661  0.983961 -1.990459
2016-01-02  0.594141  1.322055 -1.219020  0.927075
2016-01-03  0.220068 -1.106152  0.241358 -0.699528
2016-01-04 -1.069016  0.215015  0.313362  0.098866
2016-01-05  1.779233  1.285031  1.085026 -0.009103
s1
 2016-01-02    1
2016-01-03    2
2016-01-04    3
2016-01-05    4
Freq: D, dtype: int64
df
                    A         B         C         D    F
2016-01-01  0.792579  2.218661  0.983961 -1.990459  NaN
2016-01-02  0.594141  1.322055 -1.219020  0.927075  1.0
2016-01-03  0.220068 -1.106152  0.241358 -0.699528  2.0
2016-01-04 -1.069016  0.215015  0.313362  0.098866  3.0
2016-01-05  1.779233  1.285031  1.085026 -0.009103  4.0
df
                    A         B         C         D    F
2016-01-01  0.000000  2.218661  0.983961 -1.990459  NaN
2016-01-02  0.594141  1.322055 -1.219020  0.927075  1.0
2016-01-03  0.220068 -1.106152  0.241358 -0.699528  2.0
2016-01-04 -1.069016  0.215015  0.313362  0.098866  3.0
2016-01-05  1.779233  1.285031  1.085026 -0.009103  4.0
df
                    A         B         C  D    F
2016-01-01  0.000000  2.218661  0.983961  5  NaN
2016-01-02  0.594141  1.322055 -1.219020  5  1.0
2016-01-03  0.220068 -1.106152  0.241358  5  2.0
2016-01-04 -1.069016  0.215015  0.313362  5  3.0
2016-01-05  1.779233  1.285031  1.085026  5  4.0